// ? Primary colors ? //

$brainflixBlack: #323232;
$brainflixBlue: #0095ff;
$brainflixSilver: #afafaf;
$brainflixWhite: #ffffff;

// ? Secondary Colors ? //

$brainflixDarkBlack: #000000;
$brainflixDarkBlue: #0065ad;
$brainflixMercury: #e1e1e1;

$brainflixAlabaster: #fafafa;

// ? .. Breakpoints .. ? //

// ? Variable screen sizes //
$small: 550px;
$medium: 768px;
$large: 1024px;
$huge: 1280px;

// ? screen size small - mobile - tablet bridge //
@mixin small {
  @media only screen and (min-width: $small) {
    @content;
  }
}

// ? screen size medium - Tablet //
@mixin medium {
  @media only screen and (min-width: $medium) {
    @content;
  }
}

// ? Screen size desktop or tablet landscape //
@mixin large {
  // media query
  @media only screen and (min-width: $large) {
    @content;
  }
}

// ? Screen size for large desktop or high pixel resolution //
@mixin huge {
  // media query
  @media only screen and (min-width: $huge) {
    @content;
  }
}

.upload__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 98%;
  max-width: 98%;
  border: 0;
}
.form {
  width: 97%;

  &__title {
    display: flex;
    align-self: center;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $brainflixBlack;

    width: 100%;
    padding-top: 1rem;

    border-top: 1px solid $brainflixMercury;
  }
  &__thumbnail {
    &-title {
      color: $brainflixSilver;
      font-size: 1rem;
      font-weight: 600;
    }
    &-video-container {
      width: fit-content;
    }
    &-video {
      max-width: 21.5rem;
      border-radius: 4px;
    }
  }
  &__placeholder-video-title,
  &__placeholder-description-title {
    color: $brainflixSilver;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  &__title-placholder-txt {
    color: $brainflixBlack;
    display: flex;
    align-self: flex-start;
    min-height: 2rem;
    max-height: 2.5rem;
    min-width: 100%;
    background-color: #fafafa;
    background-position-x: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  &__description-placholder-txt {
    display: flex;
    align-content: flex-start;
    min-height: 5rem;
    max-height: 2.5rem;
    min-width: 100%;
    background-color: #fafafa;
    background-position-x: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  &__btns-container {
    min-width: 100%;
  }
  &__submit-btn {
    background-color: $brainflixBlue;
    min-width: 100%;
    max-height: 2.5rem;
    border-radius: 0.4rem;
    border: none;
    display: flex;
    margin-top: 1rem;
    text-decoration: none;
    align-items: center;
  }
  &__btn-txt {
    color: $brainflixWhite;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2rem;
    width: 65%;
  }
  &__cancel-btn {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    min-height: 3rem;
  }
  &__cancel-btn-txt {
    color: $brainflixBlue;
    font-size: 1.1rem;
    font-weight: 600;
  }

  @include medium {
    &__title {
      border-top: 0;
      font-size: 2.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $brainflixMercury;
      margin-bottom: 1.5rem;
    }
    &__thumbnail-ctn {
      padding-top: 0;
    }
    &__thumbnail-video {
      max-width: 25rem;
    }
    &__btn-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      text-decoration: none;
    }
    &__cancel-btn {
      order: 1;
      width: 25%;
    }

    &__description-placholder-txt,
    &__title-placholder-txt {
      padding-left: 1rem;
    }
  }
}
@include medium {
  .header {
    border-bottom: 1px solid $brainflixMercury;
    &__upload-btn {
      order: 2;
    }
  }
  .upload__section {
    align-items: flex-start;
  }
  .upload__main {
    min-width: 100%;
  }

  .form__btns-container {
    display: flex;
    border-top: 1px solid $brainflixMercury;
    justify-content: flex-end;
  }
  .form__btn-container {
    display: flex;
    justify-content: flex-end;
    width: 25%;
  }
  .form__cancel-btn {
    min-width: 15%;
    padding-top: 0.5rem;
  }
  .form__description-placholder-txt {
    margin-bottom: 2rem;
  }
}
@include large {
  .upload__main {
    display: flex;
    padding-bottom: 1rem;

    width: 100%;
  }
  .form {
    padding-left: 2rem;
    padding-top: 0.5rem;

    &__placeholder-description-title {
      padding-bottom: 1rem;
    }
    &__description-placholder-txt {
      padding-bottom: 1.5rem;
      margin-bottom: 2rem;
    }
    &__placeholder-video-title {
      color: $brainflixSilver;
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
    }
    &__title-placholder-txt {
      padding-bottom: 1rem;
    }

    &__btns-container {
      padding-top: 1rem;
      max-width: 120%;
    }

    &__thumbnail-video-container {
      padding-bottom: 2rem;
      border-bottom: 1px solid $brainflixMercury;
    }
  }
}

.header__upload-btn {
  text-decoration: none;
}
// ? .. Placer holder .. ? \\

::-webkit-input-placeholder {
  color: $brainflixBlack;
}
