// ! .. Imports .. ! //

// ? Primary colors ? //

$brainflixBlack: #323232;
$brainflixBlue: #0095ff;
$brainflixSilver: #afafaf;
$brainflixWhite: #ffffff;

// ? Secondary Colors ? //

$brainflixDarkBlack: #000000;
$brainflixDarkBlue: #0065ad;
$brainflixMercury: #e1e1e1;
$brainflixAlabaster: #fafafa;

// ? Variable screen sizes //
$small: 550px;
$medium: 768px;
$large: 1024px;
$huge: 1280px;

// ? screen size small - mobile - tablet bridge //
@mixin small {
  @media only screen and (min-width: $small) {
    @content;
  }
}

// ? screen size medium - Tablet //
@mixin medium {
  @media only screen and (min-width: $medium) {
    @content;
  }
}

// ? Screen size desktop or tablet landscape //
@mixin large {
  // media query
  @media only screen and (min-width: $large) {
    @content;
  }
}

// ? Screen size for large desktop or high pixel resolution //
@mixin huge {
  // media query
  @media only screen and (min-width: $huge) {
    @content;
  }
}

// ? .. Styling .. ? //
.aside {
  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 0.7rem;
  }
  &__title {
    color: $brainflixSilver;
    font-weight: 600;
    padding-left: 0.7rem;
  }
  &__items {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
  }
  &__videos {
    min-width: 7.5rem;
    min-height: 5rem;
    max-width: 7.5rem;
    max-height: 5rem;
    border-radius: 0.4rem;
  }
  &__video-title {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 700;
  }
  &__video-channel {
    font-size: 0.8rem;
  }
  &__video-info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  &__ids {
    display: none;
  }
  @include large {
    &__videos {
      min-height: 5.5rem;
      min-width: 8.5rem;
    }
  }
}
