// ? Primary colors ? //

$brainflixBlack: #323232;
$brainflixBlue: #0095ff;
$brainflixSilver: #afafaf;
$brainflixWhite: #ffffff;

// ? Secondary Colors ? //

$brainflixDarkBlack: #000000;
$brainflixDarkBlue: #0065ad;
$brainflixMercury: #e1e1e1;
$brainflixAlabaster: #fafafa;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__middle-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1.6rem 1rem 1.6rem;
    width: 100%;
  }
  &__Logo {
    background-image: url("../../Assets/Logo/BrainFlix-logo.svg");
    min-height: 5rem;
    min-width: 10rem;
    max-width: 10rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
  }
  &__search-box {
    display: flex;
    max-height: 2.5rem;
    min-width: 15rem;
    background-color: $brainflixAlabaster;
    background-image: url(../../Assets/Icons/search.svg);
    background-repeat: no-repeat;
  }
  &__img {
    background-image: url("../../Assets/Images/Mohan-muruge.jpg");
    min-height: 2.8rem;
    min-width: 2.8rem; // max-width: 2.5rem;
    background-size: 100%;
    background-position: 100%;
    border-radius: 100%;
  }
  &__upload-btn {
    background-image: url("../../Assets/Icons/upload.svg");
    min-width: 20rem;
    min-height: 20rem;
  }
}
