// ? Primary colors ? //

$brainflixBlack: #323232;
$brainflixBlue: #0095ff;
$brainflixSilver: #afafaf;
$brainflixWhite: #ffffff;

// ? Secondary Colors ? //

$brainflixDarkBlack: #000000;
$brainflixDarkBlue: #0065ad;
$brainflixMercury: #e1e1e1;
$brainflixAlabaster: #fafafa;
